apiVersion: v1
kind: Service
metadata:
  name: kafka-consumer
  labels:
    app: kafka-consumer
spec:
  ports:
  - port: 8070
    protocol: TCP
    name: http
  selector:
    app: kafka-consumer
#  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-consumer
  labels:
    app: kafka-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-consumer
  template:
    metadata:
      labels:
        app: kafka-consumer
    spec:
      containers:
      - name: consumer
        image: nexweb1/kafka-consumer:a28
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8070
        env:
        - name: KAFKA_BROKER
          valueFrom:
            configMapKeyRef:
              name: kafka-config
              key: kafka-broker
        - name: KAFKA_BROKER_PORT
          valueFrom:
            configMapKeyRef:
              name: kafka-config
              key: kafka-broker-port

        - name: TOPIC_NAME
          valueFrom:
            configMapKeyRef:
              name: kafka-config
              key: kafka-topic-name
        - name: CONSUMER_GROUP_ID
          valueFrom:
            configMapKeyRef:
              name: kafka-config
              key: consumer-group-id-1
        - name: MESSAGE_PER_REQUEST
          valueFrom:
            configMapKeyRef:
              name: kafka-config
              key: message-per-request
